.form {
    align-self: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1.25vmin;
    color: var(--text-black);
    min-height: 8rem;;
    label{
     font-size: 2.5vmin;
     display: flex;
     align-items: center;    
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    input {
        padding: 1vmin;
        font-size: 2vmin;
        border: .1vmin solid var(--text-light);
    }
    .button {
        margin: 1vmin;
        padding: 1vmin;
        color: var(--text-black);
        background-color: var(--text-dark);
        border-radius: .5vmin;
        min-height: 4rem;
    }
}

h2 {
    text-align: center;
    color: var(--text-black);
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}